<li>
	{{name}}

	<button class="devour-burger" data-id="{{id}}" data-newsburger="{{devour}}">
		{{#if devour}}Burger Devoured!!{{else}}Eat da Burger{{/if}}
	</button>

	<button class="devour-burger" data-id="{{this.id}}">Devour</button>
</li>
